body {
    margin: 0;
}

.pad-20 {
    padding: 20px;
}

.pad-top-20 {
    padding-top: 20px;
}

.pad-bottom-20 {
    padding-bottom: 20px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}